In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import os
import seaborn as sns

# 데이터 로드 및 결측값 제거

In [8]:
df19 = pd.read_excel('./../dataset/★2019~2023 학교안전사고 데이터_수정.xlsx', sheet_name='2019')
df20 = pd.read_excel('./../dataset/★2019~2023 학교안전사고 데이터_수정.xlsx', sheet_name='2020')
df21 = pd.read_excel('./../dataset/★2019~2023 학교안전사고 데이터_수정.xlsx', sheet_name='2021')
df22 = pd.read_excel('./../dataset/★2019~2023 학교안전사고 데이터_수정.xlsx', sheet_name='2022')
df23 = pd.read_excel('./../dataset/★2019~2023 학교안전사고 데이터_수정.xlsx', sheet_name='2023')

In [36]:
df_li = [df19, df20, df21, df22, df23]

In [23]:
df19.shape, df19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138784 entries, 0 to 138783
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   구분      138784 non-null  object
 1   학교급     138784 non-null  object
 2   지역      138784 non-null  object
 3   교육청     138784 non-null  object
 4   설립유형    138784 non-null  object
 5   사고자구분   138783 non-null  object
 6   사고자성별   138784 non-null  object
 7   사고자학년   138193 non-null  object
 8   사고발생일   138784 non-null  object
 9   사고발생요일  138784 non-null  object
 10  사고발생시각  138784 non-null  object
 11  사고시간    138784 non-null  object
 12  사고장소    138784 non-null  object
 13  사고부위    138784 non-null  object
 14  사고형태    138784 non-null  object
 15  사고당시활동  138784 non-null  object
 16  사고매개물   138784 non-null  object
dtypes: object(17)
memory usage: 18.0+ MB

((138784, 17), None)

In [32]:
## 사고자학년과 사고자구분 결측값 제거
df19 = df19[df19['사고자학년'].notnull()]
df19 = df19[df19['사고자구분'].notnull()]
df19.shape

(138193, 17)

In [10]:
df20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41940 entries, 0 to 41939
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      41940 non-null  object
 1   학교급     41940 non-null  object
 2   지역      41940 non-null  object
 3   교육청     41940 non-null  object
 4   설립유형    41940 non-null  object
 5   사고자구분   41940 non-null  object
 6   사고자성별   41940 non-null  object
 7   사고자학년   41832 non-null  object
 8   사고발생일   41940 non-null  object
 9   사고발생요일  41940 non-null  object
 10  사고발생시각  41940 non-null  object
 11  사고시간    41940 non-null  object
 12  사고장소    41940 non-null  object
 13  사고부위    41940 non-null  object
 14  사고형태    41940 non-null  object
 15  사고당시활동  41940 non-null  object
 16  사고매개물   41940 non-null  object
dtypes: object(17)
memory usage: 5.4+ MB

In [33]:
## 사고자학년 결측값 제거
df20 = df20[df20['사고자학년'].notnull()]
df20.shape

(41832, 17)

In [14]:
df21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93147 entries, 0 to 93146
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      93147 non-null  object
 1   학교급     93147 non-null  object
 2   지역      93147 non-null  object
 3   교육청     93147 non-null  object
 4   설립유형    93147 non-null  object
 5   사고자구분   93147 non-null  object
 6   사고자성별   93147 non-null  object
 7   사고자학년   92947 non-null  object
 8   사고발생일   93147 non-null  object
 9   사고발생요일  93147 non-null  object
 10  사고발생시각  93147 non-null  object
 11  사고시간    93147 non-null  object
 12  사고장소    93147 non-null  object
 13  사고부위    93147 non-null  object
 14  사고형태    93147 non-null  object
 15  사고당시활동  93147 non-null  object
 16  사고매개물   93147 non-null  object
dtypes: object(17)
memory usage: 12.1+ MB

In [15]:
df22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149339 entries, 0 to 149338
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   구분      149339 non-null  object
 1   학교급     149339 non-null  object
 2   지역      149339 non-null  object
 3   교육청     149339 non-null  object
 4   설립유형    149339 non-null  object
 5   사고자구분   149339 non-null  object
 6   사고자성별   149339 non-null  object
 7   사고자학년   149078 non-null  object
 8   사고발생일   149339 non-null  object
 9   사고발생요일  149339 non-null  object
 10  사고발생시각  149339 non-null  object
 11  사고시간    149339 non-null  object
 12  사고장소    149339 non-null  object
 13  사고부위    149339 non-null  object
 14  사고형태    149339 non-null  object
 15  사고당시활동  149339 non-null  object
 16  사고매개물   149339 non-null  object
dtypes: object(17)
memory usage: 19.4+ MB

In [34]:
## 사고자학년 결측값 제거
df22 = df22[df22['사고자학년'].notnull()]
df22.shape

(149078, 17)

In [16]:
df23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193177 entries, 0 to 193176
Data columns (total 17 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   구분      193177 non-null  object
 1   학교급     193177 non-null  object
 2   지역      193177 non-null  object
 3   교육청     193177 non-null  object
 4   설립유형    193177 non-null  object
 5   사고자구분   193177 non-null  object
 6   사고자성별   193177 non-null  object
 7   사고자학년   192727 non-null  object
 8   사고발생일   193177 non-null  object
 9   사고발생요일  193177 non-null  object
 10  사고발생시각  193177 non-null  object
 11  사고시간    193177 non-null  object
 12  사고장소    193177 non-null  object
 13  사고부위    193177 non-null  object
 14  사고형태    193177 non-null  object
 15  사고당시활동  193177 non-null  object
 16  매개물     193177 non-null  object
dtypes: object(17)
memory usage: 25.1+ MB

In [35]:
## 사고자학년 결측값 제거
df23 = df23[df23['사고자학년'].notnull()]
df23.shape

(192727, 17)

In [37]:
all_long = 0
for data in df_li : 
    all_long += data.shape[0]
print(f"총 데이터의 길이는 {all_long}입니다")

총 데이터의 길이는 614977입니다

In [40]:
# df19.to_csv('./../dataset/after_remove_null_data/df19.csv')

In [41]:
# df20.to_csv('./../dataset/after_remove_null_data/df20.csv')

In [42]:
# df21.to_csv('./../dataset/after_remove_null_data/df21.csv')

In [43]:
# df22.to_csv('./../dataset/after_remove_null_data/df22.csv')

In [44]:
# df23.to_csv('./../dataset/after_remove_null_data/df23.csv')